# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs & Runtime
*.log
/var/log/
.runner
_work/

colab_server.ipynb

demo_web
private
